body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:551px;
}
#u7466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:550px;
}
#u7467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-size:16px;
  color:#363636;
}
#u7469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:421px;
}
#u7470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:420px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:204px;
  width:316px;
  word-wrap:break-word;
}
#u7473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u7473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:464px;
  width:320px;
  height:25px;
}
#u7474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u7475 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:529px;
  width:91px;
  height:17px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:13px;
}
#u7477 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:507px;
  width:155px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u7478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u7479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
}
#u7479 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:469px;
  width:152px;
  height:18px;
  color:#0000FF;
}
#u7480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u7481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u7481 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:470px;
  width:59px;
  height:18px;
  color:#0000FF;
}
#u7482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u7483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:32px;
  height:32px;
}
#u7484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7486 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:5px;
  width:32px;
  height:32px;
}
#u7487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
