body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:498px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:1064px;
  height:498px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:1060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:425px;
  width:41px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
