body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1055px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:391px;
}
#u3523 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:1005px;
  height:391px;
}
#u3524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
