body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:66px;
  width:600px;
  height:334px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:67px;
  width:598px;
  height:40px;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:70px;
  width:30px;
  height:30px;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:23px;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:76px;
  width:128px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u5636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:220px;
  width:107px;
  height:20px;
  font-size:14px;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u5638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:41px;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:207px;
  width:270px;
  height:40px;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:149px;
  width:107px;
  height:20px;
  font-size:14px;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u5642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:41px;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:136px;
  width:270px;
  height:40px;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:41px;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:286px;
  width:270px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:266px;
  word-wrap:break-word;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:66px;
  width:41px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:64px;
  width:600px;
  height:334px;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:65px;
  width:598px;
  height:40px;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:1879px;
  top:68px;
  width:30px;
  height:30px;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:74px;
  width:112px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:19px;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:1466px;
  top:192px;
  width:403px;
  height:18px;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  word-wrap:break-word;
}
#u5658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:184px;
  width:43px;
  height:30px;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:254px;
  width:123px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:119px;
  word-wrap:break-word;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:1879px;
  top:63px;
  width:30px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:18px;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:355px;
  width:341px;
  height:17px;
  font-size:12px;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u5665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:18px;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:325px;
  width:420px;
  height:17px;
  font-size:12px;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u5667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:319px;
  width:22px;
  height:22px;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:352px;
  width:22px;
  height:22px;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:1711px;
  top:320px;
  width:80px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:350px;
  width:40px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:466px;
  width:600px;
  height:334px;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:467px;
  width:598px;
  height:40px;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:470px;
  width:30px;
  height:30px;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:546px;
  width:270px;
  height:32px;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:555px;
  width:103px;
  height:20px;
  font-size:14px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u5684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:634px;
  width:95px;
  height:20px;
  font-size:14px;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u5686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:19px;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:590px;
  width:388px;
  height:18px;
  color:#999999;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u5688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:23px;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:476px;
  width:130px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u5690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:686px;
  width:265px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:261px;
  word-wrap:break-word;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:465px;
  width:41px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:625px;
  width:114px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u5695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:625px;
  width:145px;
  height:32px;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:863px;
  width:600px;
  height:334px;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:864px;
  width:598px;
  height:40px;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:867px;
  width:30px;
  height:30px;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:873px;
  width:112px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:26px;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:993px;
  width:283px;
  height:25px;
  font-size:18px;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u5708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:983px;
  width:40px;
  height:40px;
}
#u5709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5710 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:863px;
  width:41px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u5711 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:1043px;
  width:100px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u5714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5714 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:863px;
  width:600px;
  height:334px;
}
#u5715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5716 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:864px;
  width:598px;
  height:40px;
}
#u5717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5718 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:867px;
  width:30px;
  height:30px;
}
#u5719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u5720 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:875px;
  width:112px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u5722 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:956px;
  width:150px;
  height:18px;
}
#u5723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u5724 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:946px;
  width:270px;
  height:32px;
}
#u5725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:1009px;
  width:150px;
  height:18px;
}
#u5727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1000px;
  width:270px;
  height:32px;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u5730 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:1062px;
  width:150px;
  height:18px;
}
#u5731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u5732 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1053px;
  width:270px;
  height:32px;
}
#u5733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:41px;
}
#u5734 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1114px;
  width:270px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:266px;
  word-wrap:break-word;
}
#u5737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5737 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1290px;
  width:600px;
  height:334px;
}
#u5738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5739 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1291px;
  width:598px;
  height:40px;
}
#u5740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5741 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:1294px;
  width:30px;
  height:30px;
}
#u5742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u5743 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:1303px;
  width:112px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u5745 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1340px;
  width:120px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u5747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:221px;
}
#u5747 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1391px;
  width:318px;
  height:220px;
}
#u5748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:152px;
}
#u5749 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:1417px;
  width:201px;
  height:152px;
}
#u5750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
}
#u5751 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:1392px;
  width:240px;
  height:34px;
  font-size:12px;
  color:#FF6600;
}
#u5752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u5753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5753 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1430px;
  width:100px;
  height:100px;
}
#u5754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5755 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1430px;
  width:50px;
  height:50px;
}
#u5756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5757 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1500px;
  width:30px;
  height:30px;
}
#u5758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u5759 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1538px;
  width:90px;
  height:34px;
  font-size:12px;
}
#u5760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
}
#u5761 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:1439px;
  width:60px;
  height:34px;
  font-size:12px;
}
#u5762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
}
#u5763 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:1500px;
  width:60px;
  height:34px;
  font-size:12px;
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u5765 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:1584px;
  width:80px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u5767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u5767 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:1584px;
  width:80px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u5769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:18px;
}
#u5769 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:1350px;
  width:310px;
  height:17px;
  font-size:12px;
}
#u5770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u5772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5772 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:465px;
  width:600px;
  height:334px;
}
#u5773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5774 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:466px;
  width:598px;
  height:40px;
}
#u5775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5776 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:469px;
  width:30px;
  height:30px;
}
#u5777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u5778 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:476px;
  width:112px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u5780 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:590px;
  width:270px;
  height:32px;
}
#u5781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
}
#u5782 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:598px;
  width:92px;
  height:20px;
  font-size:14px;
}
#u5783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:21px;
}
#u5784 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:635px;
  width:429px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u5785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u5786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u5786 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:679px;
  width:95px;
  height:20px;
  font-size:14px;
}
#u5787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u5788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u5788 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:525px;
  width:270px;
  height:32px;
}
#u5789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
}
#u5790 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:533px;
  width:92px;
  height:20px;
  font-size:14px;
}
#u5791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:41px;
}
#u5792 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:726px;
  width:265px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:261px;
  word-wrap:break-word;
}
#u5794 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:465px;
  width:41px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u5795 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:670px;
  width:114px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u5796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u5797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u5797 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:671px;
  width:145px;
  height:32px;
}
#u5798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5801 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:66px;
  width:600px;
  height:334px;
}
#u5802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5803 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:67px;
  width:598px;
  height:40px;
}
#u5804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5805 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:70px;
  width:30px;
  height:30px;
}
#u5806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u5807 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:76px;
  width:112px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
}
#u5809 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:166px;
  width:107px;
  height:20px;
  font-size:14px;
}
#u5810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u5811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:41px;
}
#u5811 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:154px;
  width:270px;
  height:40px;
}
#u5812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:41px;
}
#u5813 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:260px;
  width:270px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:266px;
  word-wrap:break-word;
}
#u5815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:23px;
}
#u5815 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:204px;
  width:371px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u5816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u5817 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:64px;
  width:41px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:335px;
}
#u5819 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1290px;
  width:600px;
  height:334px;
}
#u5820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:159px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:41px;
}
#u5821 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:1291px;
  width:598px;
  height:40px;
}
#u5822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5823 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:1294px;
  width:30px;
  height:30px;
}
#u5824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:23px;
}
#u5825 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:1304px;
  width:128px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u5827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:17px;
}
#u5827 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:1410px;
  width:240px;
  height:16px;
  font-size:16px;
}
#u5828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u5829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u5829 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1466px;
  width:100px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u5831 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:1466px;
  width:100px;
  height:32px;
  color:#666666;
}
#u5832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
}
#u5833 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:20px;
  width:163px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u5835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:26px;
}
#u5835 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:27px;
  width:212px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u5837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:26px;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:1449px;
  top:20px;
  width:313px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u5839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:26px;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:420px;
  width:200px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u5841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:420px;
  width:175px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u5843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
}
#u5843 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:823px;
  width:160px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u5845 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1240px;
  width:121px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u5847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:26px;
}
#u5847 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:823px;
  width:501px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u5849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:26px;
}
#u5849 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1240px;
  width:241px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u5850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u5851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u5851 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:1403px;
  width:28px;
  height:31px;
}
#u5852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u5853 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:10px;
  width:112px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u5855 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:37px;
  width:112px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
