body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u10494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u10495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:29px;
}
#u10496 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:52px;
  width:280px;
  height:28px;
  font-size:20px;
}
#u10497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u10498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:51px;
}
#u10498 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:23px;
  width:190px;
  height:50px;
}
#u10499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  word-wrap:break-word;
}
#u10500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u10500 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:68px;
  width:85px;
  height:20px;
  font-size:14px;
}
#u10501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u10502 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:68px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u10503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u10504 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:68px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u10505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:611px;
}
#u10507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:160px;
  height:610px;
}
#u10508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:297px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10509 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:136px;
  width:109px;
  height:45px;
}
#u10509_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10511 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u10511_img.selected {
}
#u10511.selected {
}
#u10512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10513 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10514 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10510_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10515 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10516 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10517 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10518 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:189px;
  width:109px;
  height:65px;
}
#u10518_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10520 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u10520_img.selected {
}
#u10520.selected {
}
#u10521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10522 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10523 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10519_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10524 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10525 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10526 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10527 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10528 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10529 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10530 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:354px;
  width:109px;
  height:45px;
}
#u10530_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10532 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u10532_img.selected {
}
#u10532.selected {
}
#u10533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10534 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10535 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10531_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10536 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10537 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10538 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10539 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:539px;
  width:109px;
  height:65px;
}
#u10539_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10541 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u10541_img.selected {
}
#u10541.selected {
}
#u10542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10543 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10544 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10540_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10545 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10546 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10547 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10548 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:56px;
  height:20px;
  font-size:14px;
}
#u10549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
}
#u10549 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u10550 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10551 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:612px;
  width:109px;
  height:65px;
}
#u10551_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10553 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u10553_img.selected {
}
#u10553.selected {
}
#u10554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10555 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10556 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10552_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10557 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10558 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10559 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10560 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10561 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10562 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10563 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:407px;
  width:109px;
  height:125px;
}
#u10563_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10565 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u10565_img.selected {
}
#u10565.selected {
}
#u10566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10567 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10568 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10564_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10569 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10570 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10571 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10572 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10573 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10574 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10575 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:70px;
  height:20px;
  font-size:14px;
}
#u10576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u10576 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:48px;
  height:20px;
}
#u10577 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10578 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10579 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10580 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10581 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10582 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10583 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10584 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:261px;
  width:109px;
  height:85px;
}
#u10584_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10586 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u10586_img.selected {
}
#u10586.selected {
}
#u10587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10588 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10589 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10585_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10590 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10591 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10592 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10593 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10594 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10595 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10596 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:84px;
  height:20px;
  font-size:14px;
}
#u10597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u10597 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:62px;
  height:20px;
}
#u10598 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:60px;
}
#u10599 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:169px;
  width:481px;
  height:60px;
}
#u10600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:57px;
}
#u10601 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:237px;
  width:1020px;
  height:57px;
}
#u10602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10603 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:119px;
  width:541px;
  height:636px;
  overflow:hidden;
}
#u10603_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:636px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10603_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:658px;
}
#u10604 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:528px;
  height:658px;
}
#u10605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:321px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10606 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1px;
  width:39px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:2px;
}
#u10607 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:155px;
  width:1019px;
  height:1px;
}
#u10608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1015px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
}
#u10609 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:132px;
  width:78px;
  height:22px;
  font-size:16px;
}
#u10610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u10611 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:260px;
  width:20px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
