body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:536px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:536px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:260px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:241px;
  width:51px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
