body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:481px;
}
#u7520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u7521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-size:16px;
  color:#363636;
}
#u7523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u7525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u7525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:320px;
  height:25px;
}
#u7526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u7527 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:465px;
  width:91px;
  height:17px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:13px;
}
#u7529 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:443px;
  width:155px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u7530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u7531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u7531 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:406px;
  width:59px;
  height:18px;
  color:#0000FF;
}
#u7532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u7533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
}
#u7533 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:405px;
  width:152px;
  height:18px;
  color:#0000FF;
}
#u7534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u7535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u7535 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:260px;
  width:300px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u7537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
}
#u7537 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:190px;
  width:114px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u7538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u7539 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:123px;
  width:300px;
  height:40px;
}
#u7539_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u7540 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:190px;
  width:176px;
  height:40px;
}
#u7540_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u7541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:26px;
}
#u7541 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:54px;
  width:280px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u7543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:21px;
}
#u7543 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:91px;
  width:290px;
  height:20px;
  font-size:14px;
}
#u7544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
