body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:532px;
}
#u7603 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:20px;
  width:320px;
  height:531px;
}
#u7604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:258px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:46px;
}
#u7605 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:20px;
  width:320px;
  height:45px;
  font-size:16px;
  color:#363636;
}
#u7606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u7607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7607 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:27px;
  width:30px;
  height:30px;
}
#u7608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:41px;
}
#u7609 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:200px;
  width:270px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:266px;
  word-wrap:break-word;
}
#u7612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u7612 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:431px;
  width:320px;
  height:25px;
}
#u7613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u7614 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:496px;
  width:91px;
  height:17px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:13px;
}
#u7616 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:474px;
  width:155px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u7617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u7618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u7618 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:437px;
  width:59px;
  height:18px;
  color:#0000FF;
}
#u7619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u7620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
}
#u7620 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:436px;
  width:152px;
  height:18px;
  color:#0000FF;
}
#u7621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u7622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:101px;
}
#u7622 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:80px;
  width:292px;
  height:100px;
}
#u7623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:19px;
}
#u7624 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:122px;
  width:184px;
  height:18px;
}
#u7625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
