body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:827px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:508px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:827px;
  height:508px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:823px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:201px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:502px;
  width:358px;
  height:201px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:102px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:615px;
  width:413px;
  height:102px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:623px;
  width:227px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:621px;
  width:83px;
  height:25px;
}
#u237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:621px;
  width:83px;
  height:25px;
}
#u238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:662px;
  width:227px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:662px;
  width:83px;
  height:25px;
}
#u241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:700px;
  width:227px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:697px;
  width:83px;
  height:25px;
}
#u244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:697px;
  width:83px;
  height:25px;
}
#u245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:42px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:736px;
  width:236px;
  height:42px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
