body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:339px;
}
#u7518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:339px;
}
#u7519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
