body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:571px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:1008px;
  height:571px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
