body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1025px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:41px;
}
#u9959 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:680px;
  width:170px;
  height:40px;
}
#u9960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u9961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
}
#u9961 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:78px;
  height:22px;
  font-size:16px;
}
#u9962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u9963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:163px;
}
#u9963 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:57px;
  width:1003px;
  height:163px;
}
#u9964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u9965 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:169px;
  width:144px;
  height:31px;
}
#u9966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:162px;
}
#u9967 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:340px;
  width:1002px;
  height:162px;
}
#u9968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u9969 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:363px;
  width:73px;
  height:29px;
}
#u9970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u9971 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:370px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u9973 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:452px;
  width:144px;
  height:31px;
}
#u9974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
}
#u9975 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:421px;
  width:173px;
  height:28px;
}
#u9976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u9977 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:391px;
  width:181px;
  height:26px;
}
#u9978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u9979 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:424px;
  width:180px;
  height:25px;
}
#u9980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u9981 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:360px;
  width:144px;
  height:31px;
}
#u9982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u9983 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:373px;
  width:57px;
  height:17px;
  font-size:12px;
}
#u9984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u9985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:99px;
}
#u9985 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:516px;
  width:1008px;
  height:99px;
}
#u9986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u9987 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:145px;
  width:27px;
  height:18px;
  color:#0000FF;
}
#u9988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u9989 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:133px;
  width:144px;
  height:31px;
}
#u9990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u9991 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:146px;
  width:72px;
  height:17px;
  font-size:12px;
}
#u9992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u9993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:18px;
}
#u9993 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:178px;
  width:135px;
  height:17px;
  font-size:12px;
}
#u9994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u9995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:84px;
}
#u9995 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:230px;
  width:1005px;
  height:84px;
}
#u9996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:26px;
}
#u9997 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:304px;
  width:1004px;
  height:26px;
}
#u9998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u9999 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:249px;
  width:144px;
  height:31px;
}
#u10000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u10001 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:262px;
  width:72px;
  height:17px;
  font-size:12px;
}
#u10002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u10003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
}
#u10003 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:280px;
  width:290px;
  height:31px;
}
#u10004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:18px;
}
#u10005 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:293px;
  width:347px;
  height:17px;
  font-size:12px;
}
#u10006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u10007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:27px;
}
#u10007 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:254px;
  width:165px;
  height:27px;
}
#u10008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u10009 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:280px;
  width:144px;
  height:31px;
}
#u10010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10011 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:161px;
  width:359px;
  height:233px;
  overflow:hidden;
  visibility:hidden;
}
#u10011_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:233px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10011_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:164px;
}
#u10012 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:46px;
  width:306px;
  height:164px;
}
#u10013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u10014 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:83px;
  width:53px;
  height:16px;
}
#u10015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
