body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1072px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:502px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:6px;
  width:1071px;
  height:502px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:243px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
